@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  max-width: 1440px;
  margin: 0 auto 0 auto;
}

.days8 {
  padding: 1rem 0;
  background-color: #e4eecf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 20rem;
  overflow-x: hidden;
}

.days8 .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.25rem 0;
  border-radius: 0.5rem;
}

.days8 .day .moment {
  display: block;
  margin-right: 1rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: 1px solid #fff;
}

.days8 .toCurrent {
  margin-top: 1rem;
}
