@import "../../../assets/styles/styles.scss";

.preset {
  margin: 0 auto 0 auto;
  padding-bottom: 1.5rem;
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
